<div class="modal fade" id="creatorDialog" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">New Leaf</h4>
			</div>
			<div class="modal-body">
				<textarea class="form-control" rows="5" id="newLeafContent"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" style="float:left" onclick="newLeaf();" id="createBtn">Save</button>
				<button type="button" class="btn btn-default" data-keyboard="true" data-dismiss="modal" style="float:left" id="discardBtn">Discard</button>
			</div>
		</div>
	</div>
</div>
